@import "tailwindcss";

:root {
  --background: #ffffff;
  --text-color-black: #171717;
}

@theme {
  --color-primary-white: #ffffff;
  --color-primary-black: #000000; 
  --color-primary-purple: #5F2EEA;

  --color-primary-gradient-first: #7433FF;
  --color-primary-gradient-second: #FFA3FD;

  --color-secondary-white: #fafafa;
  --color-secondary-smoke: #f5f5f5;
  --color-secondary-red: #db4444;
  --color-secondary-sky-blue: #1CC8EE;

  --color-secondary-gradient-first: #624AF2;
  --color-secondary-gradient-second: #50DDC3;

  --color-accent-gradient-first: #ED2E7E;
  --color-accent-gradient-second: #FFD789;

  --color-text-orange: #d37643;
  --color-bg-white: #ffffff;    
  
  --color-button-green: #47b486;
  --color-button-red: #db4444;
  --color-button-hover-red: #eb5757;
  --color-button-yellow: #e2b93b;

  --color-title-active: #14142B;
  --color-text-color-black: #000000;
  --color-text-color-white: #ffffff;
  --color-body: #4E4B66;
  --color-label: #6E7191;
  --color-placeholder: #A0A3BD;
  --color-line: #cacaca;
  --color-input-bg: #EFF0F6;
  --color-error: #ED2E7E;
  --color-success: #00BA88;
  --color-warning: #F4B740;

  --spacing-center: clamp(2rem, 6vw, 15rem);
  --spacing-gap: 1rem;
  --spacing-button-block: 0.5rem;
  --spacing-button-inline: 0.75rem;

} 

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text-color-black: #ededed;
  }
} */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

button{
  cursor: pointer;
}

a {
  text-decoration: none;
}

.shadow-icon{
  filter: drop-shadow(2px 1.5px 1px rgba(0, 0, 0, 0.801));
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
